body{
    background-color: aliceblue;
}
.header-container{
    background-image: url(/static/images/rob-potter-Jt16Nz5wRJY-unsplash.jpg);
}
.section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}
.image-container img{
    width: 500px;
    height: 500px;
    object-fit: fill;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.text-container{
    max-width: 600px;
}
.section-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}
h1{
    text-align: center;
    color: #5e08a5;
    font-size: 4rem;
    margin-top: 20px;
}
.text-container h2{
    font-size: 3rem;
    color: #5e08a5;
    margin-bottom: 20px;
    text-align: center;
}

.text-container p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}