    body{
    background-image: url(/static/images/hidde-rensink-Erzyy3Gy2LU-unsplash.jpg);
}

.h1-text{
    color:aliceblue;
    font-size: 6rem;
    max-width: 900px;
    align-self: flex-start;
}
.h2-text{
    color: yellow;
    font-size: 2rem;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
.logo-text{
    display: none;
}

.bottons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.buttons a{
    text-decoration: none;
    background-color: #302d42c5;
    font-size: 1.5rem;
    color: white;
    align-self: center;
    padding: 10px 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    text-align: center;
}
.buttons{
    justify-self: center !important;
}

.navigation{
    position: relative;
    z-index: 999;
    left: 5;
    top: 10;
}
main {
    align-items: center;
}

button {
    background: #5e08a5a1;
    border: none;
    color: #111;
    font-weight: bold;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
    margin-top: 10px;
}