
body{
    background-image: url(/static/images/hiba-ghouich-L8G6Y6QR40I-unsplash.jpg);
    color: white;
}

section{
    margin: 50px;
    padding: 20px;
    color: black;
    background: #d9d9d9;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    justify-self: center;
    max-width: 900px;
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    margin-top: 20px;
}
main {
    align-items: center;
}

