.header-container{
    display: flex;
    flex-direction: row;
}

.navigation ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.navigation a{
    text-decoration: none;
    color: white;
}

body{
    
    background-size: cover;

}
.logo img{
    height: 50px;
    width: 50px;
}

footer{
    bottom: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    align-items: center;
}
footer p{
    color: white;
    text-align: center;
}

.logo-text{
    color: yellow;
}