html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-container{
    display: flex;
    flex-direction: row;
}

.navigation ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.navigation a{
    text-decoration: none;
    color: white;
}




.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    }

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.logo-text h1 {
    font-size: 2rem;
    color: yellow;
}

.logo-text p {
    font-size: 2rem;
    color: black;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: white;
    }










body{
    background: rgb(0, 0, 0);
    background-size: cover;

}
.logo img{
    height: 50px;
    width: 50px;
}

footer{
    bottom: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    align-items: center;
}
footer p{
    color: white;
    text-align: center;
}

.logo-text{
    color: yellow;
}