<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head %}Task 1{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
  <header class="header-container">
    <div class="logo">
      <img src="/static/Images/elephant.png" alt="GibJohn Logo">
      
    </div>
    <div class="logo-text">
        <h1>Riget Zoo Adventures</h1>
      </div>
    <nav class="navigation">
      {% if nav_links %}
        <ul>
          {% for link in nav_links %}
            <li><a href="{{ link['url'] }}">{{ link['name'] }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </nav>
    </div>
    
  </header>
<div class="togle-darkmode">
      <!--button for darkmode-->
      <button id="darkModeToggle">🌙Dark Mode</button>
    </div>
  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer-text">
        <p>&copy; 2025 RZA. All rights reserved.</p>
    </div>
    
  </footer>
  <script >
    // Dark Mode Toggle
    const darkModeToggle = document.getElementById('darkModeToggle');
    darkModeToggle.addEventListener('click', () => {
      document.body.classList.toggle('dark-mode');
      if (document.body.classList.contains('dark-mode')) {
        darkModeToggle.textContent = '☀️ Light Mode';
      } else {
        darkModeToggle.textContent = '🌙 Dark Mode';
      }
    });

    //if dark mode is enabled, change the colors page to dark
    window.onload = function() {
      if (document.body.classList.contains('dark-mode')) {
        darkModeToggle.textContent = '☀️ Light Mode';
      } else {
        darkModeToggle.textContent = '🌙 Dark Mode';
      }
    };

    
  </script>
</html>
